.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8,var(--tile-size));
    grid-template-rows: repeat(8,var(--tile-size));
    width: calc(8*var(--tile-size));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Subtle shadow for board depth */
    border-radius: 8px; /* Rounded corners for the board */
    overflow: hidden; /* Ensures rounded corners are visible */
}
.tile{
    position: relative;
}
.tile--light {
    background-color: var(--light-tile);
}
.tile--dark {
    background-color: var(--dark-tile);
}
.highlight:after {
    display: block;
    position: absolute;
    content: '';
    width : calc(.5*var(--tile-size));
    height : calc(.5*var(--tile-size));
    background: var(--highlight);
    border-radius: 50%;
    left: 25%;
    top: 25%;
}
.attacking:after {
    display: block;
    position: absolute;
    content: '';
    border: 6px solid var(--highlight);
    width : calc(var(--tile-size) - 12px);
    height : calc(var(--tile-size) - 12px);
    border-radius: 50%;
    left: 0;
    top: 0;
}
.checked:after {
    display: block;
    position: absolute;
    content: '';
    width :  var(--tile-size);
    height :  var(--tile-size);
    background: var(--check);
    border-radius: 20px;
    left: 0;
    top: 0;
}